.card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
.font-roboto {
    font-family: 'Roboto', sans-serif;
  }
  
  .font-monoton {
    font-family: 'Monoton', cursive;
  }
  